<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Get the appId from Exchange store, go to the app index page, the appId can be found in URL.
     You need to url decode it with http://meyerweb.com/eric/tools/dencoder/    
  -->
    <add key="thisAppId" value="appstore.exchange.autodesk.com:monthlypayment-autodeskid2:en"/>

    
  </appSettings>
  
</configuration>