<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--Get the appId from Exchange store, go to the app index page, the appId can be found in URL.
     You need to url decode it with http://meyerweb.com/eric/tools/dencoder/    
  -->
    <add key="thisAppId" value="appstore.exchange.autodesk.com:COINS-Translate:en"/>

    
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
